<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<h1>Lanes with Jobs</h1>
<p class='intro'>The list below contains all lanes with waiting jobs.</p>

<table id='lane-table' class='stripe'>
<thead>
<tr>
  <th>Repo</th>
  <th>Workflow</th>
  <th>Robot</th>
  <th>Lane</th>
  <th>Jobs</th>
</tr>
</thead>
<tbody>
<% m = 0 %>
<% n = 0 %>
<% l = {} %>
<% resque.queues.sort_by { |q| q.to_s }.each do |queue| %>
    <% if (resque.size queue).to_i > 0 %>
    <%   m += 1 %>
    <%   n += resque.size queue %>
    <%   l[queue.split('_')[3]] = true %>
    <tr>
        <td><%= queue.split('_')[0] %></td>
        <td><%= queue.split('_')[1] %></td>
        <td><%= queue.split('_')[2] %></td>
        <td><%= queue.split('_')[3] %></td>
        <td class='size'><%= resque.size queue %></td>
    </tr>
  <% end %>
<% end %>
<% if n == 0 %>
    <tr>
      <td colspan="5" class='no-data'>Nothing is happening right now...</td>
    </tr>
<% else %>
  <script>
  $(document).ready(function() {
      $('#lane-table').DataTable( { paging: false } );
  } );
  </script>
<% end %>
</tbody>
</table>
<% if n > 0 %>
<p><%= n %> jobs ready in <%= m %> queues for <%= l.size %> lanes
<% end %>
<hr/>
<%
workers = resque.working
jobs = workers.collect {|w| w.job }
worker_jobs = workers.zip(jobs)
worker_jobs = worker_jobs.reject { |w, j| w.idle? }
%>

<h1 class='wi'>Robots Running Jobs</h1>
<p class='intro'>The list below contains all robots which are currently running a job.</p>
<table id='running-table' class='stripe'>
  <thead>
<tr>
  <th>Where</th>
  <th>Lane</th>
  <th>Processing</th>
  <th>Druid</th>
</tr>
</thead>
<tbody>
<% if worker_jobs.empty? %>
<tr>
  <td colspan="4" class='no-data'>Nothing is happening right now...</td>
</tr>
<% else %>
  <script>
  $(document).ready(function() {
      $('#running-table').DataTable( { paging: false } );
  } );
  </script>
<% end %>

<% worker_jobs.sort_by {|w, j| j['run_at'] ? j['run_at'] : '' }.each do |worker, job| %>
  <tr>
    <% host, pid, queues = worker.to_s.split(':') %>
    <td class='where'><a href="<%=u "/workers/#{worker}" %>"><%= host.to_s.gsub(/\.stanford\.edu/, '') %>:<%= pid %></a></td>
    <td><%= job['queue'].split('_')[3] %></td>
    <td class='process'>
      <% if job['queue'] %>
        <code><%= job['payload']['class'] %></code>
      <% else %>
        <span class='waiting'>Waiting for a job...</span>
      <% end %>
    </td>
    <td class='process'><code><%= job['payload']['args'][0].split(/:/)[1] %></code>
</td>
  </tr>
<% end %>
</tbody>
</table>
<% if worker_jobs.size > 0 %>
<p><%= worker_jobs.size %> robots running jobs</p>
<% end %>
<hr/>
<% workers = Resque.workers %>

<h1 class='wi'><%= workers.size %> Registered Robots</h1>
<p class='intro'>The robots listed below are all registered as active on your cluster.</p>
<table id='workers-table' class='stripe'>
  <thead>
<tr>
  <th>Where</th>
  <th>Repo</th>
  <th>Workflow</th>
  <th>Robot</th>
  <th>Lanes</th>
</tr>
</thead>
<tbody>
<% for worker in (workers = workers.sort_by { |w| w.to_s.split(':')[2].to_s }) %>
<tr>

  <% host, pid, queues = worker.to_s.split(':') %>
  <td><a href="<%=u "workers/#{worker}"%>"><%= host.to_s.gsub(/\.stanford\.edu/, '') %>:<%= pid %></a></td>
  
  <% qs = queues.split(',') %>
  <% q = qs.first %>
  <td><%= q.split(/_/)[0] %></td>
  <td><%= q.split(/_/)[1] %></td>
  <td><%= q.split(/_/)[2] %></td>
  <% if qs.size > 1 %>
    <td><%= qs.map {|i| i.split(/_/)[3]}.join(' ') %></td>
  <% else %>
  <%   z = q.split(/_/)[3] %>
    <td><%= z == '*' ? 'all' : z %></td>
  <% end %>
</tr>
<% end %>
<% if workers.empty? %>
<tr>
  <td colspan='5' class='no-data'>There are no registered workers</td>
</tr>
<% else %>
  <script>
  $(document).ready(function() {
    $('#workers-table').DataTable( { paging: false } );
  } );
  </script>
<% end %>
</tbody>
</table>
